* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color:rgb(42, 43, 43);
}
p {
  font-size: 20px;
}
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

/*　----------- header始まり　----------- */




header {
  background-color: black;
}

/* menuber */
.menu-button {
    text-align: right;
    position: fixed;/*fixedを設定して固定*/
    z-index: 99;/*最前面へ*/
    top: 1rem;/*位置指定*/
    right: 1rem;/*位置指定*/
  }
  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
  }
  .modal {
    position: fixed;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 176px;
    background-color:rgba(0, 0, 0, 0.897);
    
    visibility: hidden;
  z-index: -100;
  }
  .close {
    color:rgb(255, 255, 255);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  ul {
    padding-top: 0px;
    padding-bottom: 24px;
  }
  li {
    list-style: none;
    font-size: 20px;
    padding: 10px 0 10px 40px;
    border-bottom: 1px solid white;
  }
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .open-modal {
    visibility: visible;
    z-index: 100;
  }
  /* menuber 終わり */

.logo img {
  position: fixed;/*fixedを設定して固定*/
    z-index: 99;/*最前面へ*/
    top:0;/*位置指定*/
    left:2%;/*位置指定*/
  animation-name:fadeUpAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity:0;
}

/* ----------- header終わり　----------- */

@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }

/*========= body背景色の変化CSS ===============*/




}
.top_logo{
  background: url(images/flower.png) no-repeat 100% 100% fixed;
    background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	padding: 160px 20px;
  margin: 0;
}
.top_logo img {
  width: 500px;
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
}
.top_logo h1 {
  color: rgb(255, 255, 255);
  font-size: 150px;
  margin: 0 auto 0 auto;
  margin-top: 0px;
  animation-name:fadeUpAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity:0;
}

/* mainimg */
/* ---------sec1始まり-------- */
.sec1 {
  background: linear-gradient(to bottom, transparent 0%, transparent 70%, rgb(42, 43, 43) 100%), url(images/overview_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 200px 0px;
  text-align: center;
}
.sec1 h2 {
  font-size: 110px;
  color: #fff;
  margin-bottom: 40px;
}
.sec1 p {
  color: #fff;
  margin-bottom: 7px;
}
.sec1 br {
  display: none;
}
/* ------- 2section -------- */

.mess{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.itembox{
  position: relative;
  width: 100%;
  height: 500px;
  padding-bottom: 600px;
  border-bottom: 1px solid black;
}
.itembox p {
  color: rgb(255, 255, 255);
}
.itembox img {
  width: 40%;
}
.item1 {
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: 1;
}
.item1_2 {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 100px;
  opacity: 1;
}
.item2 {
  position: absolute;
  top: 350px;
  right: 100px;
  z-index: 1;
}
.item2_2 {
  z-index: 0;
  position: absolute;
  top: 350px;
  right: 100px;
  opacity: 1;
}
.item3 {
  position: absolute;
  top: 700px;
  left: 100px;
  z-index: 1;
}
.item3_2 {
  z-index: 0;
  position: absolute;
  top: 700px;
  left: 100px;
  opacity: 1;
}

.sec2 {
  text-align: center;
}
.sec2main h2 {
  font-size: 80px;
  color: #fff;
  text-align: left;
  margin: 10px 0px 30px 30px;
}
.sec2main p {
  text-align: center;
  color: #fff;
  padding: 5px;
  margin: 0 5px 5px 5px;
}
.sec2main img {
text-align: center;
}

/* sec3 */
.sec3 {
  border-top: 1px solid black;
  color: #fff;
  text-align: center;
}
.sec3 p {
  margin: 10px;
}
.sec3 img {
  margin: 10px;
  width: 900px;
  text-align: center;
}

/* sec4 */


/* sec5 */
.sec5 {
  color: #fff;
  padding-top: 10px; 
}
 .sec5 h2 {
  font-size:30px;
  margin-left: 50px;
}
.sec5 img {
  padding: 20px 0 0 50px;
  width: 30%;
} 

/* foter */

footer {
  display: block;
  color: #fff;
}

.chuoimg {
  margin: 30px 0px 10px 20px;
}
.chuoimg iframe{
  display: block;
  width: 96%;
  height: 350px;
  padding-top: 10px;
}
ul {
  text-align: left;
}

footer li {
  font-size: 15px;
  margin: 4px auto;
}


@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    /* ------top------- */
  .top_logo img {
    width: 450px;
  }
  .top_logo h1 {
    font-size: 90px;
  }
    /* -------sec1------ */
    .sec1 {
      text-align: center;
      background-repeat: no-repeat;
      padding: 200px 0px;
    }
    .sec1 h2 {
      font-size: 100px;
    }
    .sec1 p {
      font-size: 18px;
    }
    .sec1 br {
      display: inline;
    }
      /* ------sec2------ */

  .sec2 .mess img{
    width: 660px;
  }
  .itembox{
    position: relative;
    width: 100%;
    height: 500px;
    padding-bottom: 600px;
    border-bottom: 1px solid black;
  }
  .itembox img {
    width: 450px;
  }
  .item1 {
    position: absolute;
    top: 0px;
    left: 25%;
    z-index: 1;
  }
  .item1_2 {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 25%;
    opacity: 1;
  }
  .item2 {
    position: absolute;
    top: 350px;
    left: 25%;
    z-index: 1;
  }
  .item2_2 {
    z-index: 0;
    position: absolute;
    top: 350px;
    left: 25%;
    opacity: 1;
  }
  .item3 {
    position: absolute;
    top: 700px;
    left: 25%;
    z-index: 1;
  }
  .item3_2 {
    z-index: 0;
    position: absolute;
    top: 700px;
    left: 25%;
    opacity: 1;
  }
  .sec2main img{
    width: 550px;
  }
  .sec2main h2 {
    font-size: 40px;
    color: #fff;
  }
  /* ------sec3------ */
  .sec3 {
    color: #fff;
    text-align: center;
    font-size: 25px;
  }
  .sec3 img {
    width: 600px;
    margin: 10px auto 10px auto;
    padding-top: 0px;
    text-align: center;
  }
  
}


@media (max-width: 650px) {
	/* 650px以下に適用されるCSS（スマホ用） */
  /* ------top------- */
  .top_logo h1 {
    font-size: 70px;
  }
  .top_logo img {
    width: 350px;
  }
  /* -------sec1------ */
  .sec1 {
    padding: 100px 0px;
  }
  .sec1 h2 {
    font-size: 75px;
  }
  .sec1 p {
    font-size: 15px;
  }
  .sec1 br {
    display: inline;
  }

  /* ------sec2------ */

  .sec2 .mess img{
    width: 460px;
  }
  .itembox{
    position: relative;
    width: 100%;
    height: 500px;
    padding-bottom: 300px;
    border-bottom: 1px solid black;
  }
  .itembox img {
    width: 300px;
  }
  .item1 {
    position: absolute;
    top: 0px;
    left: 22%;
    z-index: 1;
  }
  .item1_2 {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 22%;
    opacity: 1;
  }
  .item2 {
    position: absolute;
    top: 250px;
    left: 22%;
    z-index: 1;
  }
  .item2_2 {
    z-index: 0;
    position: absolute;
    top: 250px;
    left: 22%;
    opacity: 1;
  }
  .item3 {
    position: absolute;
    top: 500px;
    left: 22%;
    z-index: 1;
  }
  .item3_2 {
    z-index: 0;
    position: absolute;
    top: 500px;
    left: 22%;
    opacity: 1;
  }
  .sec2main img{
    width: 350px;
  }
  .sec2main h2 {
    font-size: 30px;
  }
  .sec2main p {
    font-size: 20px;
  }
  /* ------sec3------ */
  .sec3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .sec3 img {
    width: 480px;
    margin: 10px auto 10px auto;
    padding-top: 0px;
    text-align: center;
  }
}
